*.log
.DS_Store
*.bin
backend/static/*
backend/media/*
backend/.env
llm_api/static/*
llm_api/.env
google_colab_demo/static/*
static/*
data/*
.cnvrgignore
*.mp4
*.wav
*.pyc
.DS_Store
frontend/.env
frontend/.env.development
frontend/.env.production
mydatabase
ollama/models/blobs/*
ollama/models/manifests/*
.venv
